[2019-05-19 21:10] roccah opened #1 "Python 3 compatibility"
Hey, I've been checking out the package and it looks really cool!

Currently KAG is targeting Python 2 and raises exceptions in Python 3. In my brief attempts at running KAG on py3, the main changes seemed to be bytes/unicode issues and module imports. I realize it can be a bit of a pain to write polyglot. Would you be interested in supporting both versions?

[2019-05-20 04:09] daanzu commented on #1
Thanks for testing! I've been trying to write for compatibility, but only been testing on 2.7, in an effort to get it released. I'd definitely like to support 3+, and intend to eventually when find time. PRs welcome!

[2019-09-21 06:18] TMiguelT commented on #1
Do you need any help with the Python 3 porting? I notice there are some python 2 and python 3 translations in the repo at the moment

[2019-09-21 10:37] daanzu commented on #1
Any tips are are appreciated. I think it will mostly just involve str/unicode issues, but it might get pretty hairy with the Kaldi interface. Not sure yet.

[2019-09-21 11:06] TMiguelT commented on #1
Well, it's normally safe to just run [`2to3`](https://docs.python.org/2/library/2to3.html) on it, and then simplify some of the messy things it does

[2019-09-21 20:31] roccah commented on #1
`futurize` (https://python-future.org) has a bit fancier tooling for writing 2/3 polyglot code. When I tried this a few months ago it worked pretty well with a few manual interventions.

[2019-09-22 12:29] TMiguelT commented on #1
True, but at this point I would advise *against* supporting Python 2 at all, which is what futurize does. The reason being, no-one should be using Python 2 at this point, and it adds a whole lot of extra junk into your code to support polyglot code.

[2019-09-22 13:40] daanzu commented on #1
Actually, it appears to have been far easier than I was expecting, at least to have a working version (both python2&3). There may still be issues with actually using unicode characters, but that was true even with python2, and bears further testing. I hope to release the next version in the next few days with python3 support!

Regarding supporting python2 still, I think a lot of the dragonfly comm

[2019-09-22 13:49] TMiguelT commented on #1
Ah, well in that case I'll just leave this PR as an example as to how I would have done it: #2.

[2019-10-01 07:00] daanzu commented on #1
This should be fixed in the new version. 🎉

@TMiguelT Thanks for the PR; it was interesting to consult.

[2019-10-01 07:00] #1 closed

[2019-10-10 19:10] mrob95 opened #3 "Getting breathe working"
Hi, the [dragonfly API I'm working](https://github.com/mrob95/Breathe) on has initial features implemented, but it does a couple of slightly unorthodox things to manage grammars and I'm struggling to debug it on kaldi. I've made an issue to track the bugs [here](https://github.com/mrob95/Breathe/issues/1).

The grammar management works by generating grammars as necessary on the fly during `process

[2019-10-12 10:27] daanzu commented on #3
Thanks for the bug rep, and the simple test! I had considered the case of adding grammars during actions, but not in process_begin. I will take a look.

1. Do you mean ListRefs?
2. Turning on debugging logging is pretty helpful, although I would think Kaldi would print the message if it was a fatal error.

[2019-10-12 10:38] mrob95 commented on #3
1. yes, DictList is just a dragonfly wrapper for a List which maps its values to some other objects. As far as the engine is concerned they are the same.

2. Yeah from the debug output it looks like the new grammar FST loads correctly, but then almost immediately the program exits with no messages.

[2019-10-14 10:28] Danesprite opened #5 "Python 3 bug when make_lexicon_fst.py is run"
Hey @daanzu. I've discovered a bug specific to Python 3 that occurs when first running the Dragonfly Kaldi module loader. I've posted here instead because it seems to be a KAG bug caused by running the `make_lexicon_fst.py` script with `python` instead of `python3`. `python` is Python 2.7 on my system, which would explain the confusing `SyntaxError`.

Not sure how to fix this. I guess you need to

[2019-10-16 08:39] M3TIOR commented on #5
It's a bug resulting from the python version which is calling the script, not transfering the correct version to the target the script. The script is currently calling the binary at "python" and assuming it's the correct version. Awaiting a merge of my pull request #6 to fix this issue. It's litterally a one line problem, so @daanzu may choose not to pull my fix, but regardless it should be cleare

[2019-10-30 07:09] daanzu commented on #3
@mrob95 Re empty ListRefs: I tried a test grammar with an empty ListRef without Breathe, and it worked fine. Any pointers for a simple minimal failing test case?

[2019-10-30 17:55] mrob95 commented on #3
For me on py3 the following:
[code]

Produces:
[code]

A list like this which has elements in it already doesn't produce an error:
[code]

[2019-10-31 13:27] daanzu commented on #3
Ah, I see the problem now. I'll put in a fix.

Regarding problem 2 above, do you think it is resolved by https://github.com/dictation-toolbox/dragonfly/pull/157 ?

[2019-10-31 14:11] mrob95 commented on #3
I'm not yet sure, I'm going to do some more testing tomorrow

[2019-11-07 11:20] yondu22 opened #7 "simple demo"
Do you have a simple demo, like the one in dragonfly that doesn't require dragonfly?
I just want to transcribe an audio file with grammar weights added to the language model

Thanks

[2019-11-08 11:45] daanzu commented on #3
@mrob95 Did https://github.com/dictation-toolbox/dragonfly/pull/159 fix problem 2 for you?

[2019-11-08 11:55] mrob95 commented on #3
Apologies for the late reply. Yes, I've been using it pretty much full time for the past week and it's been smooth, including with lazy compilation. Thanks!

[2019-11-08 14:55] daanzu commented on #3
Great! No problem. I am working on fixing the other problem, which is actually a problem for any empty grammar, but it is a bit tricky.

[2019-11-10 07:06] daanzu commented on #7
I have been meaning to add a simple example of direct usage, but haven't gotten around to it yet. You basically just need to build a graph describing your grammar and then call the decoding. Do you have an example of the grammar you want to decode with?

[2019-11-11 01:02] yondu22 commented on #7
nothing specific just pick words from a word list
[code]

[2019-11-11 14:46] daanzu commented on #7
That would be easy to encode in an FST. But in general, it would probably be easier to go through the dragonfly backend, once I get wave file reading implemented.

[2019-11-13 10:38] daanzu commented on #3
Problem 1 should now be resolved by upgrading to the just released KaldiAG v1.0.2. I think this fixes the rest of this issue?

[2019-11-13 10:38] #3 closed

[2019-11-13 17:21] mrob95 commented on #3
Yep, that fixes everything. Thanks again!

[2019-11-24 06:37] daanzu commented on #7
This is implemented in https://github.com/dictation-toolbox/dragonfly/pull/175 with `KaldiEngine.recognize_wave_file()`.

I am leaving this open to remind me to implement something directly in this repo.

[2019-12-29 05:09] mrever opened #8 "trouble running sample code"
python crashes when running this sample code:

##########
import sys, wave
from kaldi_active_grammar import PlainDictationRecognizer
recognizer = PlainDictationRecognizer()
wfi = 'test.wav' ### load a 16 kHz 16-bit example wav file from kaldi repository
wave_file = wave.open(wfi, 'rb')
data = wave_file.readframes(wave_file.getnframes())
print(type(data), len(data)) #bytes object with in16 audio da

[2019-12-29 22:02] kendonB opened #9 "Import vocabulary"
Would be neat to be able to import vocabularies from DNS. When exported, they are of the format:

[code]
Where if spoken phrase isn't specified it is implied that the text and spoken phrase are the same.

Here's a snippet from my real one:
[code]

Is this feasible in Kaldi?

[2019-12-30 03:30] daanzu commented on #9
That should be trivial. I will add it soon. Thanks for the suggestion!

[2019-12-30 04:03] daanzu commented on #8
Strange, it seems to work fine for me (although that wav doesn't sound like English). Output below:

[code]

Try running it with full debugging output by putting at the top:

[code]

[2019-12-30 18:47] mrever commented on #8
Here's the logging output:

DEBUG:kaldi:kaldi_active_grammar: find_file found file 'kaldi_model\\words.txt'

DEBUG:kaldi:kaldi_active_grammar: find_file found file 'kaldi_model\\phones.txt'

DEBUG:kaldi:kaldi_active_grammar: find_file found file 'kaldi_model\\align_lexicon.int'

DEBUG:kaldi:kaldi_active_grammar: find_file found file 'kaldi_model\\disambig.int'

DEBUG:kaldi:kaldi_active_grammar: fi

[2019-12-31 01:33] daanzu commented on #8
Hmm, those missing files are unimportant. There were no further messages, like an ERROR or stack trace? Maybe try deleting the `*.tmp` directory. What OS is this on?

[2019-12-31 01:52] mrever commented on #8
Huh, deleting *.tmp seems to have done the trick.  Much appreciated!

(moot now, but Windows 10 64-bit to answer your question).  Thanks again

[2019-12-31 01:56] #8 closed

[2020-01-01 03:02] daanzu commented on #9
Upon reflection, there are some complexities for some of these, with multi-word phrases.

Also, I forgot to mention, adding them to the language model for dictation is significantly complex. How important is that for your usage?

[2020-01-01 04:13] kendonB commented on #9
I'm not sure what this means. How do you use these in the vocabulary without adding them to the language model?

[2020-01-01 07:21] daanzu commented on #9
You can use them in commands. The dictation language model it is only used in dictation elements.

[2020-01-03 02:49] shervinemami opened #10 "Feature Request: going to sleep after minutes of inactivity"
DNS engine automatically goes to sleep after roughly 5 minutes of inactivity, which is a nice feature to reduce the possibility of commands being detected from random noises while we're away from the computer such as if we've run off to the bathroom! The user has to say "start listening" or similar to wake it up.

If it's easy to add an inactivity timeout to the kaldi backend, that would be handy!

[2020-01-03 16:06] LexiconCode commented on #10
Using recognition observers this should be possible with a timer and mimic.

The last successful recognized recognition starts a timer and the timer resets with another successful recognition.

When the timer expires it mimics the command to silence the microphone.

[2020-01-03 20:34] shervinemami commented on #10
Thanks @LexiconCode , good idea! I'll implement it in 2 weeks time and submit a PR to this repo.

[2020-01-03 20:34] #10 closed

[2020-01-04 02:32] daanzu commented on #10
Yeah, recognition observers with a timer is probably the best approach. The best place for it is probably as an option in the `kaldi_module_loader_plus.py` in the dragonfly2 repository.

[2020-01-09 09:37] mrob95 opened #11 "Error switching to new model"
Hi, just tried upgrading to the new (medium) model and I'm getting the following error message as soon as recognition begins. I'm on the latest versions and this grammar works fine on the zamia model. I've tried grepping `a_I` and it isn't coming from my files I don't think.

[code]

Let me know if you need any more details :) thanks

Edit: https://github.com/daanzu/kaldi-active-grammar/commit/892

[2020-01-09 13:47] daanzu commented on #11
Yeah, I think that should fix it, but I was afraid to post a point release without further testing, and I forgot that the backend would fail on a dev version. For the time being, you can safely delete lines 72-82 in `/dragonfly/engines/backend_kaldi/engine.py`. Let me know if it works!

[2020-01-13 00:41] Cliveo opened #12 "issues after first"

[2020-01-13 03:33] daanzu commented on #12
I think this may be related to this Dragonfly issue https://github.com/dictation-toolbox/dragonfly/issues/182. Try adding the following line somewhere early and see if it resolves the problem:

`logging.getLogger('action.exec').setLevel(10)`

[2020-01-13 19:14] Cliveo commented on #12
you legend, it's all working fine now. Heisenbug lol. thank you so much

[2020-01-14 05:17] daanzu commented on #12
Great to hear! I've been having to use that line for a while to "fix" this issue. Hopefully eventually we can narrow down the root cause.

[2020-01-17 07:50] daanzu commented on #11
Should be fixed now in `1.3.0` and the upcoming version of dragonfly.

[2020-01-17 07:50] #11 closed

[2020-01-20 04:00] kendonB opened #13 "Incremental training"
I'm not sure if Kaldi is capable of this, but DPI 15 seems to allow for "incremental" training, where the program starts with a base model, then very quickly learns from the user's training speech. On mine it seems to get better in a few seconds after just saving the user profile. Is Kaldi capable of this type of learning?

[2020-01-20 04:28] daanzu commented on #13
Although this isn't officially advised/supported in Kaldi, I recently got it working. I have more testing to do to determine what the sweet spot is for the amount of training data, but preliminary results are very positive. I plan on posting some numbers on this soon.

However, performing the training on the client machine is extremely difficult, due to Kaldi's many dependencies for training. So f

[2020-01-24 17:14] LexiconCode opened #14 "Precompiled webrtcvad Python 3"
This is not so much of a problem for 2.7 due to the standalone installer "Microsoft Visual C++ Compiler for Python 2.7" or plus your precompiled version. However for Python 3 it looks like Visual Studio is required. Due to restrictions in some outside of DEV environments may not be possible for the end user to install Microsoft Python Compiler.

[2020-01-24 20:23] LexiconCode opened #15 "Python 3.8 'time.clock()' removed"
Python: 3.8
Caster: (Py 3 pull request)
kaldi_module_loader_plus: latest dragonfly master
kaldi_active_grammar: 1.2

[code]

`time.clock()` has been deprecated since Python 3.3
- See [issue](https://bugs.python.org/issue36895)
- Recommended to use: `time.perf_counter()` or `time.process_time()` for py3
- Not sure about a py2/py3 solution using the six or other compatibility library.

[2020-01-26 02:12] daanzu commented on #14
Ah, thanks for reminding me. I had posted a binary wheel for 2.7, back when 3 wasn't supported by KaldiAG, and had forgotten about it.

[2020-01-26 02:43] daanzu commented on #15
Thanks! Should be fixed in master and the next version.

[2020-01-27 03:56] #15 closed

[2020-02-01 02:31] daanzu commented on #14
I created [webrtcvad-wheels](https://pypi.org/project/webrtcvad-wheels/) as a solution. It should be a drop-in replacement for the original webrtcvad: just `pip uninstall webrtcvad` and `pip install webrtcvad-wheels`. It uses the same import statement.

@LexiconCode Can you try it and see if it works in various versions?

[2020-02-01 03:33] LexiconCode commented on #14
`py -3 -m pip install webrtcvad-wheels` install successfully on Python 3.8 64-bit

Unsuccessful without a C++ compiler.
`py -2 -m pip install webrtcvad-wheels` python 2.7.17 32-bit
`python -m pip install webrtcvad-wheels` python  2.7.13 64-bit (portable environment)

[code]

[2020-02-01 05:50] daanzu commented on #14
@LexiconCode Oops, my bad, should be fixed now?

[2020-02-01 08:21] LexiconCode commented on #14
Yes it is Fixed.

[2020-02-01 11:33] daanzu commented on #14
Great! We will still need to replace the package specification in dragonfly/elsewhere.

[2020-02-19 16:10] LexiconCode commented on #14
Sigh, As it turns out the same issue applies to `pyaudio` as it needs to be compiled.

[2020-02-21 15:21] daanzu commented on #14
Actually, I am planning on changing to a different sound library: https://pypi.org/project/sounddevice/. I have already implemented the change and have been testing it to make sure there are no issues. I think it should work without requiring compilation.

[2020-03-22 07:08] #14 closed

[2020-04-15 00:33] cjbassi opened #18 "Add a list of available models to the readme"
I was wondering if you could add a section to the readme with a list of the models that you have released, so users don't have to search through the releases to find one they like. It would be good to only list the up to date models. You could just have the links point to the artifacts in the releases tab, and maybe add the model size next to the links to. Thanks!

[2020-04-16 01:36] cjbassi opened #19 "Add a google cloud speech feature flag"
We should add an extra feature flag for google cloud speech that automatically adds the dependency.

[2020-04-16 04:26] daanzu commented on #18
Good suggestion, will do!

[2020-04-19 16:34] cjbassi opened #20 "Question about the license"
Copied from the gitter:

Hey, thanks for the great library @daanzu. I have a question about the license if you don't mind. I plan on writing a program that uses dragonfly with the kaldi backend, and i saw that dragonfly uses lgpl while kaldi-active-grammar uses agpl. Isn't that a license conflict? Also, i plan on using the mit license, which seems like it would also conflict with the agpl, but not

[2020-04-20 14:00] daanzu opened #21 "Other languages"
In the future, it should be able to support a lot more, but the work is in finding decent models for other languages, and then some minor modifications to enable their use in KaldiAG.

https://github.com/dictation-toolbox/dragonfly/pull/241

[2020-04-20 14:02] daanzu commented on #13
Some numbers are posted in https://github.com/daanzu/kaldi-active-grammar/blob/master/docs/models.md

[2020-04-23 02:30] daanzu commented on #21
Please let me know if there is a specific language you are looking for, and I can see about using it for testing.

[2020-04-26 21:52] kendonB commented on #9
Being able to add vocabulary to the language model is a really useful feature of DPI/DNS. The workflow is super simple as well:

1. "Open Vocabulary Editor"
2. "Add" then fill in the actual word as well as the pronunciation.

[2020-04-26 21:54] kendonB commented on #13
@daanzu anything i can do to help beta test this?

[2020-04-27 00:36] kendonB opened #22 "Complexity problems when using with caster (Text Manipulation)"
When I follow the instructions here: https://caster.readthedocs.io/en/latest/readthedocs/Installation/Kaldi/

then say "Enable Text Manipulation", which is a moderately complex CCR grammar, Kaldi stalls and no longer accepts speech. I found that with a different grammar if I stripped out complexity right until the limit then Kaldi would still perform really well so would it be possible to tweak th

[2020-04-27 01:07] daanzu commented on #9
Sorry about the delay in implementing this. Getting it integrated with the dictation language model is nontrivial. I've had a hacky version working for a while but am still working on cleaning it up.

[2020-04-27 08:13] daanzu commented on #13
Eventually I would like to streamline it and package it up in Docker or something, but there's more work to be done for that.

However, if you're comfortable sending me some audio and transcripts for training, I can use you for testing. I will be posting more info on recommended ways for collecting this training data soon.

[2020-04-27 11:13] daanzu commented on #22
Thanks for alerting me to this. I will take a look. Usually I find a particular quirk in the grammar that is causing an explosion during graph compilation.

[2020-05-01 23:30] cjbassi commented on #18
Here's a nice example of how things could look: https://github.com/alphacep/vosk-api/blob/master/doc/models.md

[2020-05-05 14:11] #20 closed

[2020-05-14 02:27] daanzu opened #23 "Alternate dictation source: Dragon / Natlink"
I don't have experience with Natlink, and don't currently have Dragon installed, but I'd be happy to help implementing this.

Is there a way with Natlink to just get straight dictation recognition text from audio data passed to it?

[2020-05-14 04:00] dwks commented on #23
For dragonfly, I think it would be something like this for "blah" or "dictate blah":
[code]
See also https://github.com/dwks/aenea-grammar-simple/blob/master/words.py

For pure Natlink, I imagine you can use CatchAllGrammar to observe everything:
https://github.com/dictation-toolbox/natlink/blob/master/SampleMacros/_repeatthat.py

You can import `<dgndictation>` if you want to get straight dictati

[2020-05-14 12:31] Danesprite commented on #23
Hello @daanzu and @dwks. Natlink has a file transcription function that could help you to do this: [`natlink.inputFromFile()`](https://github.com/dictation-toolbox/natlink/blob/master/NatlinkSource/natlink.txt#L249). Unfortunately, it isn't working properly for me. It looks like Dragon itself isn't accepting the file I've specified.

Anyway, according to its documentation, Dragon is supposed to ta

[2020-05-14 14:27] daanzu commented on #23
Thanks for the info!

FYI, the alternate dictation interface currently allows for performing the recognition on just parts of an utterance: for example "say hello world", where only "hello world" is the dictation and "say" is the command portion.

That `inputFromFile` function sounds very nice. Too bad it doesn't seem to be working. Definitely being able to pass audio directly would be ideal, eith

[2020-05-14 23:26] shervinemami commented on #23
Have you guys heard of DragonBench (http://www.rwilke.de/dragonbench/)? It can load audio files into Dragon, I'm not sure how it does it, and it's not open source, but I've chatted with the author before, he's quite friendly so he could be willing to explain how he sends data to Dragon. DragonBench has been around for some years, so it's probably using a relatively old (and reliable) technique tha

[2020-05-15 08:23] Danesprite commented on #23
Nice! I didn't realise your alternate dictation interface allowed for that.

That's a shame SAPI AudioInputStream doesn't really work properly. Though as you said, WSR's accuracy isn't great. Probably not worth the effort.

I did manage to get the `inputFromFile` function kind of working, but ran into further complications when it caused a segfault. Despite that, Dragon did process the recorded au

[2020-05-15 11:29] daanzu commented on #23
@Danesprite Thanks for trying to get it to work! 16kHz 16bit mono is perfect, since that is what Kaldi is using/recording already.

[2020-05-15 13:02] Danesprite commented on #23
No worries. It does almost work properly. You could ask about the function in the [natlink gitter channel](https://gitter.im/dictation-toolbox/natlink).

[2020-05-24 17:29] JohnDoe02 commented on #13
I would really love to see this docker container! Something semi ready would be welcome, too

[2020-05-26 01:02] LexiconCode commented on #22
A new user trying out Kalidi experience this issue today on Mac. I was able to replicate the issue on Windows using his `rules.toml` which I've included below.  Simply place or override `rules.toml` in `C:\Users\%USERNAME%\AppData\Local\caster\settings` for Windows OS. Then launch Kaldi.

[code]

[2020-05-26 04:00] daanzu commented on #22
@LexiconCode Thanks for the info for reproducing. Sorry about being slow to look into this.

[2020-05-26 05:19] LexiconCode commented on #22
Oh that's okay... There's only so many hours in a day and sometimes other aspects of projects take priority.

[2020-05-31 14:34] Danesprite commented on #23
I wrote a [natlink_file_input.py](https://gist.github.com/Danesprite/eebacad81af98107ec28d09d9ccf1046) workaround script for using `inputFromFile`. It should be run as a subprocess expected to crash. The Windows segmentation/page fault error window that would normally appear is suppressed by use of the Win32 [`SetErrorMode` function](https://docs.microsoft.com/en-us/windows/win32/api/errhandlingap

[2020-06-01 19:47] varungujjar opened #24 "Support for arm7l or aarch64 Raspberry Pi"
Hey so i tried this and it works great on my macosx.. however is there a way i can compile this for raspberry pi4 arm7l or aarch64 ?  :)

[2020-06-02 06:50] daanzu commented on #24
I have done some testing on a raspberry pi 4 using raspian, and I seem to recall it compiling without much difficulty, but I haven't tried to package it up yet. I am planning on trying to set up continuous integration, and maybe I can set that up for arm builds then as well.

BTW, I only tested with the same model as I use on the desktop. It ran slowly, but was surprisingly usable. Nonetheless, I

[2020-06-02 08:48] varunquartic commented on #24
sounds awesome..:) would be great if you help me with the steps to compile it on my pi4 (arm7l) 4GB .. Also raspbian is 32bit I guess & your documentation says it needs 64bit only.. so are you sure it works on 32bit so then i dont have to look for an aarch64 OS :D

[2020-06-02 09:05] LexiconCode commented on #24
Actually I think 64-bit  raspbian is coming just within a few weeks or sooner. Due to the raspberry pi 8 gb. I assume you could run the 64-bit on the 4GB model.

https://www.raspberrypi.org/blog/latest-raspberry-pi-os-update-may-2020/

[2020-06-02 09:31] varunquartic commented on #24
@LexiconCode but i think its far away from stable at the moment. probably by end of this year it should be an alternative to 32bit OS

[2020-06-02 14:25] daanzu commented on #24
Hmm, good point about 64bit! I did the testing on I believe a standard raspbian armv7l install. Perhaps Kaldi special cases its arm support to allow 32bit on armv7l, even though 64bit is required elsewhere?

[2020-06-02 14:31] daanzu commented on #24
@varungujjar I just checked, and it is definitely running on:

[code]

[2020-06-02 19:05] varungujjar commented on #24
@daanzu  sorry a very noob question... but am just new to this..:)  i see the package kaldi_active_grammar-1.5.0-py2.py3-none-manylinux2010_x86_64.whl

will this run on arm7l or aarch64 ?  or do i have to compile it ?

[2020-06-03 10:55] daanzu commented on #24
@varungujjar Sorry, that will only work on x64. I will take a look to see if I can do a quick package up of what I have testing.

[2020-06-03 11:25] varungujjar commented on #24
@daanzu sure :D let me know how that goes..

 also just managed to try the new pi4 64bit OS..  maybe i can compile one for aarch64 and share the package..if you can share the steps

[2020-06-24 12:44] rouseabout opened #25 "prebuild models: decision tree"
please consider including the decision tree file with pre-built models (./am/tree)

this file is required to use the existing kaldi wsj utils/mkgraph.sh scripts with your models

[2020-06-26 09:13] daanzu commented on #25
I think the tree file is included in the `kaldi_model_daanzu_20200328_1ep-mediumlm.zip` file.

[2020-07-02 03:30] dwks opened #27 "add python dependencies"
I just installed kaldi-active-grammar on a new system. The prebuilt pip package didn't depend on `sounddevice` and `webrtcvad`, and I got runtime errors from my grammar until I installed them. It would be good to list these as python dependencies in the pip package, assuming they would be required by any grammar.

[2020-07-02 07:31] daanzu commented on #27
kaldi-active-grammar doesn't depend on those, since it is supposed to be agnostic as to the source. If using dragonfly, I think they should be installed with `pip install dragonfly2[kaldi]`.

[2020-07-05 18:20] dwks commented on #27
Yes, this works. Please consider adding this to the README, it's pretty confusing to start using kaldi-active-grammar on Linux currently. P.S. `pip install dragonfly2[kaldi]` pulls in `kaldi-active-grammar` automatically.

[2020-07-05 20:13] dwks commented on #27
If you don't want to mention dragonfly on the kaldi-active-grammar page, could at least mention it here: https://github.com/daanzu/kaldi-grammar-simple

[2020-07-06 07:07] daanzu commented on #27
I should definitely make this more clear. Thanks for pointing it out!

[2020-07-12 05:41] ileben opened #28 "Non-exported nested rule references recognized as top level rules"
In the following example i would expect nothing to happen, unless i prepend a letter keyword with "spell". However if i just say "alpha" I get the printout "RECOGNIZED SPELLING". You can see that in this example the nested referenced rule Alphabet is not exported.
[_spelling.txt](https://github.com/daanzu/kaldi-active-grammar/files/4908065/_spelling.txt)

I'm running this within the caster framewo

[2020-07-13 15:13] daanzu commented on #28
I think this is working as designed. It is not that the Alphabet rule is being exported, but rather that the Spelling rule is being recognized. You can see this by enabling the recognition observers or the engine logging, and by the "RECOGNIZE SPELLING". This is because, with only the Spelling rule exported, you are effectively telling the engine that anything/everything it hears will be of the fo

[2020-07-14 02:41] daanzu commented on #28
@ileben Oh, I forgot to mention another easy thing to do: Add a global catch-all Dictation Rule with a no-op Action.

[code]

[2020-07-14 09:29] ileben commented on #28
A confidence threshold for recognitions sounds like the most sensible solution to this problem to me. However i can imagine it's functionally equivalent to having the engine constantly decide whether a command was spoken or anything else based on some confidence level. I like the idea of being able to control this threshold via an engine parameter, so I tried to install the fix from the linked iss

[2020-07-15 05:27] ileben opened #29 "VC Redistributable missing after installing kaldi-active-grammar"
After the installation of dragonfly2 and its kaldi backend (following the setup instructions), upon starting dragonfly using the kaldi engine, fstcompile process crashes with the following error:
`The code execution cannot proceed because VCRUNTIME140_1.dll was not found.`

Need to find a way to install the VC redistributable automatically, or update the setup instructions.

`Name: dragonfly2 Vers

[2020-07-15 07:28] daanzu commented on #29
Thanks for opening this. It should at least detect this case and give a meaningful error message and instructions.

[2020-07-15 10:52] JohnDoe02 opened #30 "Particular mappings not recognized for non-exported subrules"
I am having some problems with non-exported rules. I am having this top level ccr rule (which is exported) which in turn references subrules via repetitions/alternatives. Those subrules are non-exported. I now found this weird case, where one of my mappings works if and only if I set the associated subrule to exported. All other mappings of the same subrule work as expected either way. I first tho

[2020-07-15 11:13] JohnDoe02 commented on #30
Interestingly, I recently found another mapping in another subrule that also only works if i set the respective subrule to exported. It is worthwhile to note, that this other mapping does not involve a dictation element.
[code]

With the subrule being non-exported I get something like:
[code]

With the subrule being exported, everything works fine:
[code]

At least this rules out, that it is dicta

[2020-07-15 13:23] ileben commented on #28
Neither of the two solutions has the desired effect.

The newly added engine option `expected_error_rate_threshold` seems to have no effect.

The noise sink solution behaves erratically: if i say "alpha" it still recognizes the spelling rule, but if i say "bravo" it recognizes dictation. Anything prepended by "spell" is correctly recognized as the spelling rule, but any combination of multiple let

[2020-07-21 04:28] daanzu commented on #29
As of v1.6.1, the Windows wheels now only require the VS2017 (not VS2019) redistributables to be installed. I am adding a note to the troubleshooting section of the README. I am leaving this open, to hopefully investigate a run time check for it.

[2020-07-21 14:15] daanzu commented on #9
An example of a hacky partial hopefully-temporary solution to the problem can be seen here: https://github.com/daanzu/kaldi-grammar-simple/blob/master/_dictation.py

[2020-07-24 06:31] daanzu opened #31 "the weighting of dictation mixed with commands could use improvement"
From Gitter:

Now that i fully switched to Kaldi, I'm having problems with it making unexpected decisions when faced with multiple options. In the example file below (_test.txt) using any of the three example rules when i say "title space" the engine interprets it as "title S space". Basically, instead of just interpreting it as the "title <dictation=space>", it opts for a more complex option "tit

[2020-07-24 06:32] daanzu commented on #31
with a quick test, the first example works correctly for me if I use a weight of 100. definitely the weighting of dictation mixed with commands could use improvement, but figuring out a general way to do it has been difficult

[2020-07-24 08:38] ileben commented on #31
I could get example 3 working by setting the weight of TestHalf2 to 0.01. However i could not get it working by instead raising the weight of TestHalf1 to 1000000.

[2020-07-24 09:27] daanzu commented on #31
From @ileben:

[2020-07-24 09:37] ileben commented on #31
I just got another idea for their weights - instead of multiplying them against the built in values, use the built in values and pick a cutoff for probability (something like "expected_error_rate_threshold") and then simply compare the raw weight of the rules that pass the threshold
This would keep scale of the weights consistent - if rule A and B are sufficiently likely, than simply the one with

[2020-07-27 23:18] LexiconCode commented on #22
@daanzu Do you think off the top of your head are there specific engine parameters that I could test to provide some diagnostic support?

[2020-07-29 09:01] daanzu commented on #22
@LexiconCode I looked into this some. Text manipulation is definitely failing in determinization, meaning there is possibly something to do with how its grammar is structured that is causing an exponential explosion during compilation. If you could try to narrow down what part of it is causing this, that would be very helpful. Start by commenting out all but one entry in the mapping, and see if th

[2020-07-29 15:43] LexiconCode commented on #22
The issue is related to `# move cursor` commands. The commented out command below causes issues described. I've included the related above command for context as it similar but does not cause issue. Perhaps because these commands are complex and only differ in the end `[over]` that causes determinization issue.

[code]

[2020-07-30 15:37] daanzu commented on #22
@LexiconCode Thanks for narrowing it down! I will take a closer look to try to figure out why that is causing it, and possible solutions.

[2020-07-31 07:13] daanzu opened #32 "Empty Rule used in Breathe fails to compile, bombing out"
From Gitter:

https://gist.github.com/droundy/5e1da5f7a67545d51184dd38a71e0c06

I see an error that gives:

[code]

Okay, I've enabled/disabled parts of my grammar until I got down to the culprit:

[code]

Obviously I'm using Breathe here, and this is not a rule that I'm even enabling, so I'm fine with just commenting it out here. But obviously, if you could pin down and announce which rule was ca

[2020-07-31 07:14] daanzu commented on #32
I'll take a closer look and experiment with that rule to try to figure out what was going on. Definitely it needs better output upon failure regardless. I don't think I could easily detect the line number of the rule causing the error, since there is the indirection through Breathe, but I should be able to at least print out its elements (which would include the words) to give a clue.

[2020-07-31 07:42] #25 closed

[2020-07-31 08:39] daanzu commented on #22
@LexiconCode I'm still looking into this more for a root cause, but at least as a simple fix in this case, just modify the definition of the `character_sequence` Repetition to be: `Repetition(character_choice_object, min=1, max=3, name="character_sequence", optimize=False)`. It appears to work fine that way, at a first test at least.

[2020-07-31 09:05] daanzu commented on #22
@LexiconCode Actually, you may want to only set it to false for kaldi: `optimize=bool(dragonfly.get_current_engine().name != 'kaldi')`

[2020-07-31 10:36] daanzu commented on #22
@LexiconCode Is there an easy way for me to disable basically every other set of commands in caster, other than text manipulation?

[2020-07-31 11:31] daanzu commented on #32
I am having trouble reproducing this. This seems to compile and work:

[code]

[2020-07-31 12:24] LexiconCode commented on #22
Yes you can use the whitelist in rules.toml and set the grammars that you need to false and they won't load when you start the engine.

[2020-07-31 13:55] daanzu commented on #32
Augh, I somehow misread the FST text originally: the problem isn't that the rule is empty. It is missing an arc. It should be:

[code]

But I still can't reproduce why it is missing for you.

[2020-07-31 15:27] droundy commented on #32
I'll try to tune down my repository to a smaller one that triggers the problem when I get to my computer.  My configuration, BTW is at https://github.com/droundy/breathe_configuration so I expect it's a free commits back in that repo.

[2020-08-01 09:17] daanzu commented on #22
I think I fixed it in KaldiAG, _without_ needing to turn off the `optimize` flag in the Caster text manipulation grammar after all. I will post a new version including it soon.

[2020-08-01 09:30] daanzu commented on #22
Oh, as a bonus, all compilation might be a bit faster now too! The joys of finding edge cases! 🎉

[2020-08-01 14:45] daanzu commented on #22
Available for testing: https://github.com/dictation-toolbox/dragonfly/pull/275

[2020-08-01 16:32] dwks commented on #22
Wow, nice work! :)

[2020-08-02 05:03] LexiconCode commented on #22
Seems to test out just fine! Hoping to hear back from a few people soon.

[2020-08-02 06:06] daanzu commented on #22
@LexiconCode Great! Hopefully nothing odd pops up.

For future reference: the problem seemed to require a confluence of factors, and it only occurred with all of them together:
* multiple, nested `Repetition`s (the outer for CCR/etc, and the inner for the character sequence)
* the same words being used in both the inner and outer Repetitions (in parallel)
* `optimize=True` in both the inner and ou

[2020-08-02 06:11] daanzu commented on #22
It is possible this still may happen again with even more complex grammars, where my fix can't simplify them enough, in which case setting `optimize=False` in the inner Repetition is probably the best course.

[2020-08-02 21:50] LexiconCode commented on #22
Thank you for such a detailed explanation. I will keep those points in mind.

[2020-08-05 05:19] yondu22 opened #33 "Fine Tuning"
Do you have the procedure for fine tuning the model with our own data?
Would we use this model
https://github.com/daanzu/kaldi-active-grammar/releases/download/v1.4.0/kaldi_model_daanzu_20200328_1ep-mediumlm.zip
or
https://github.com/daanzu/kaldi-active-grammar/releases/download/v1.4.0/vosk-model-en-us-daanzu-20200328.zip

then apply this script and update the paths?
https://github.com/kaldi-asr/k

[2020-08-07 06:09] yondu22 opened #34 "network.xconfig for kaldi_model_daanzu_20200328_1ep-mediumlm"
Do you have the network configurations for this model?
Is it?
[code]

[2020-08-07 11:47] daanzu commented on #34
Ah, I should probably include that in the zip file for reference. But yes, that is it currently.

[2020-08-07 11:52] daanzu commented on #33
I'm working on simplifying and documenting how to perform fine tuning. I would say to use https://github.com/daanzu/kaldi-active-grammar/releases/download/v1.4.0/kaldi_model_daanzu_20200328_1ep-mediumlm.zip

I've had more success with the procedure in `egs/aishell2/s5/local/nnet3/tuning/finetune_tdnn_1a.sh` adapted for chain.

[2020-08-10 02:55] yondu22 commented on #33
Thanks, I got it working as well, i modified that one and added ivectors and used the dnn alignment instead of gmm...however my WER is very high, almost 100% wrong(the graph and language model is correct because i switched it with original final.mdl and the WER dropped down < 20%). Do you have the paramaters for fine tuning for your examples of about 30 hours...number epochs, learning rate initial

[2020-08-10 12:58] LexiconCode commented on #22
I would consider this issue closed.

[2020-08-11 03:22] #22 closed

[2020-08-11 03:33] daanzu commented on #33
I am planning on doing much more experimentation on this soon, but I think I had most success with parameters like this:

[code]

[2020-08-11 10:26] yondu22 commented on #33
Thank you, works beautifully, dropped WER from 38% to 30% with only 1 hour of  train data and independent test set

[2020-08-12 01:40] daanzu commented on #33
Great! Thanks for the WER% info.

[2020-09-02 12:21] vasudev-hv commented on #33
@daanzu - I'm getting below error while finetuning using ./local/nnet3/tuning/finetune_tdnn_1a.sh
![image](https://user-images.githubusercontent.com/14175304/91980028-46d2ca80-ed44-11ea-97a0-4e5df2dbbc4d.png)
I have 4 speakers and 10s of utterances for each of them.
On closer look, I see below highlighted error
![image](https://user-images.githubusercontent.com/14175304/91980165-797cc300-ed44-11ea

[2020-09-02 12:57] vasudev-hv commented on #33
@daanzu - Can you please tell me where can I find the following files:
exp/tri3/final.occs
data/lang/oov.int
data/lang/phones.txt (is this new phones.txt the I need to generate(how?) or the one provided in the daanzu zip file?)
data/lang/L.fst (symlinked with kaldi_model/L_disambig.fst. but align.1.log says `Failed to read token [started at file position -1], expected <TransitionModel>`)

Also, I

[2020-09-02 14:14] vasudev-hv commented on #33
@yondu22 - Can you please elaborate how did you do this? What changes did you make in the script?

[2020-09-04 05:43] yondu22 commented on #33
used this script
https://github.com/kaldi-asr/kaldi/blob/master/egs/rm/s5/local/chain/tuning/run_tdnn_wsj_rm_1c.sh
change wsj to danzu, and rm to the new data

[2020-09-07 04:30] daanzu commented on #33
@vasudev-hv This is a nnet3 chain model, not tri3. The other files can be generated from the ones included in the download.

[2020-09-09 13:34] JohnDoe02 opened #35 "Portaudio related crashes with kag-v1.8.0"
Today, I pulled the update to kag-1.8.0 and downloaded the new large language model. After upgrade of kaldi-active-grammar I ran `python setup.py bdist_wheel` to ensure that kaldi is rebuild as well and of course pulled the updates for dragonfly.

However, after a few voice commands I am experiencing crashes:
[code]

[2020-09-09 13:41] JohnDoe02 commented on #35
Just to make sure, I just retried with the small model. Same problem though. The error message was slightly different this time:
[code]

Seemingly there seems to be some bug in the interaction with portaudio?

[2020-09-09 14:34] JohnDoe02 commented on #35
I revered back to kag-v1.7.0. Everything is working fine again.

[2020-09-10 04:22] daanzu commented on #35
Curious. I will investigate. Does v1.8.0 work using the pip package (`python -m pip install -U kaldi-active-grammar==1.8.0`)? I think the portaudio error may be a red herring, only occurring because the other error having already occurred.

[2020-09-10 11:22] JohnDoe02 commented on #35
Same problem with the pip package. I installed it into a fresh python env, together with `pip install dragonfly2[kaldi]` and my grammar.

[2020-09-10 16:14] Timoses commented on #35
I seem to be hitting the same assertion.
[code]

i am using the big KAG model from 1.8.0 together with the same version of KAG. Also using the newer version of dragonfly (0.27.0).

[2020-09-10 23:09] kendonB opened #36 "Kaldi is too fast"
I know that this is a *very good* problem to have! Several times (at least since the last update) I have found Kaldi will interpret my speech well before I'm done uttering a phrase. For example, in Caster we can say "go line sixteen" to navigate to line sixteen.

Sometimes the system will interpret this as "go line six" then interpret "teen" as something completely different as Kaldi below must al

[2020-09-11 00:21] dwks commented on #36
Try vad_padding_end_ms in kaldi_module_loader_plus.py. I myself have said it to 200ms up from 100 to avoid this problem.

[2020-09-12 15:28] daanzu commented on #35
This should be fixed in the just released v1.8.1. Please try upgrading and let me know.

[2020-09-13 08:31] Timoses commented on #35
Seems to be working for me.
Great job!

[2020-09-14 03:14] #35 closed

[2020-09-14 03:19] daanzu commented on #36
Yeah, adjusting `vad_padding_end_ms` will help. Perhaps I was over aggressive in setting the default to 150. Also, you can try adjusting `vad_aggressiveness` from the default 3 down to 2 or 1, which should make it less likely to cut off quiet sounds. I should probably have a section for "parameters you will likely want to adjust for preference" like this.

[2020-09-23 21:45] kendonB commented on #36
@daanzu where do these parameters sit in the `kaldi_model` folder? Or are those settings fixed in the releases?

[2020-09-24 01:06] daanzu commented on #36
They are engine parameters for dragonfly, so they are set in the `get_engine()` call, which should be in your loader. So something like this: `get_engine('kaldi', vad_padding_end_ms=200)`. How are you running things?

[2020-09-26 02:59] kendonB commented on #36
@daanzu i think the calls in Caster are https://github.com/dictation-toolbox/Caster/blob/master/castervoice/lib/ctrl/mgr/engine_manager.py and https://github.com/dictation-toolbox/Caster/blob/master/castervoice/lib/ctrl/configure_engine.py

@LexiconCode do you know how we might expose this option in Caster?

[2020-09-26 03:50] LexiconCode commented on #36
Yep it's something I've been trying to think how the best implement.

[2020-09-30 09:58] daanzu commented on #36
https://github.com/dictation-toolbox/dragonfly/pull/302 may help until Caster has a good way to pass engine parameters.

[2020-10-01 17:12] JohnDoe02 commented on #33
I am currently also trying to setup a training pipeline. While I recently managed to get `run_tdnn_wsj_rm_1c.sh` to complete the training, I am not yet able to obtain a `final.mdl` which outperforms the input model. To give some background and as it might be useful for others with similar intentions, here are the steps I made.

## Training Data
Around 9000 utterances from my day-to-day use, record

[2020-10-02 14:57] daanzu commented on #33
@JohnDoe02 Wow, great detailed write up! Thanks for posting it.

As stated earlier, I had more success adapting the `aishell2` finetuning script than `run_tdnn_wsj_rm_1c`, although it has been a while since I compared them and I don't remember the details of how the latter works. In general for fine tuning, you shouldn't need the alignments for the initial training, only the newly generated alignm

[2020-10-03 15:01] JohnDoe02 commented on #33
@daanzu `frames_per_eg` (aka `egs.chunk-width`) was a good hint. It indeed seems to play an important role. Stating multiple values as suggested gets my WER down to 20%. To me, this highly suggests that the training files should not be too short. I will proceed with preparing a cleaner dataset, i.e., less imbalanced and >150 frames per utterance.

I am very much looking forward to having a look at

[2020-10-04 06:00] daanzu commented on #33
https://gist.github.com/daanzu/d29e18abb9e21ccf1cddc8c3e28054ff It's not pretty, but maybe it can be of use until I have something better.

Regarding training files length, including a some amount of prose dictation of reasonable length definitely can be a big help. I think it still can be helpful to include short commands in the training, plus it is so easy to collect a large set of them through

[2020-10-04 15:30] JohnDoe02 commented on #33
Thanks for posting! I will try to get it to run as well. On first sight I find it rather interesting that you are using `--chain.alignment-subsampling-factor=1` which did not work at all for me. `get_egs.sh` will immediately fail in this case, after spitting out warnings like the following for each of my training files:
[code]
Also no need to ramp up the tolerances, i.e., you are using `--chain.le

[2020-10-05 04:34] daanzu commented on #33
It's been a while since I started experimenting, and I can't recall exactly how I ended up with this. I think the `chain.alignment-subsampling-factor` is because I generate the alignments with the chain model itself, rather than the traditional method of using an earlier-trained GMM model, but I could be wrong. But it seemed to work well.

[2020-10-06 04:15] bhrt-sharma opened #37 "What is the vocab size in kaldi-active-grammar?"

[2020-10-06 12:36] daanzu commented on #37
The code can handle any (reasonable) size. My posted models come with a 168k+ vocab. But you can easily add any number of words using the user lexicon feature.

[2020-10-07 02:55] bhrt-sharma commented on #37
Thanks for a speedy reply.💪

[2020-10-07 02:55] #37 closed

[2020-10-10 13:28] JohnDoe02 commented on #33
I have experimented some more and prepared a very clean data set, with a about 1h of dictation, 1h of command-like speech and 1h from day-to-day use. However, this did not bring much improvement. For my new (more complex) data set I got a reference value for the WER of `20` with the official model which degraded to a WER of `60` after training. My conclusion is that the training data set is not th

[2020-10-11 03:31] daanzu commented on #33
@JohnDoe02 I am a bit puzzled by your experience, but I will try to find time to look into it more.

Which alignment files are you looking for? I sure think I ran my fine tuning experiments on an export very similar to the published package.

[2020-10-11 09:44] JohnDoe02 commented on #33
Interesting, do you remember what kind of package that was?

From looking at your script, the tree directory is defined in the beginning as  `tree_dir=exp/nnet3_chain/tree_sp`. It should contain files like `ali.1.gz`, `ali.2.gz`, etc. These are the alignment files I am looking for. Their number depends on the number of jobs that where used to generate them. Typically between 20 and 100. For 3000h

[2020-10-11 15:23] daanzu commented on #33
@JohnDoe02 Ah, I didn't realize that was there and a dependency. Good find! Attached is (I think) the tree directory for the most recent models. It will be quite interesting to see your results and comparison.

https://github.com/daanzu/kaldi-active-grammar/releases/download/v1.8.0/tree_sp.zip

[2020-10-11 22:52] JohnDoe02 commented on #33
Nice, thanks for uploading! The scripts are now happy, no more missing files. The only remaining confusion is the `--chain.alignment-subsampling-factor=3` parameter, as both you as well as the authors of `run_tdnn_wsj_rm_1c.sh` had this one set to `1` -- which refuses to work for me, although I am using the same setup (at least as far as I can tell).

In any case, I will run some experiments and r

[2020-10-13 16:47] JohnDoe02 commented on #33
So first of all let's start with the good news. I'm finally able to obtain models which perform better on the test set then the input model (16 WER vs. 20 WER is the best I got so far). Indeed, if plugging it into KAG, I am finally understood when saying `eight jury` which gives `8j` (instead of `pj` or `aj` -- I am having a lot of vim frustration with this). However, there are other new issues wh

[2020-10-15 07:37] sraghuram90 opened #38 "On what kind of datasets does the model trained on?"
What are the datasets does this kaldi active grammar model trained on?
If you would have included public datasets, could you name them?
The pretrained model which you mentioned, is that Zamia speech model?

[2020-10-20 15:54] JohnDoe02 commented on #33
I believe to have found the reason and correct fix for the `--chain.alignment-subsampling-factor=3` surprise. There seems to be another file missing: Within the `$src_dir` (which simply holds the unzipped `kaldi_model`) `align_lats.sh` checks for a file `frame_subsampling_factor`. As we are using a chain model, its contents should probably read `3`. Indeed `echo 3 > kaldi_model/frame_subsampling_f

[2020-10-20 22:00] JohnDoe02 commented on #38
I was also curious about this. According to [here](https://github.com/daanzu/kaldi-fork-active-grammar/blob/master/egs/daanzu_multi_en/s5/run.sh) (cf., `stage 2`) it should be: Librispeech, TEDLIUM, Mozilla's Commonvoice, Tatoeba, Tensorflow's speech_commands.

[2020-10-21 17:27] JohnDoe02 opened #39 "Missing documentation: Import of a custom kaldi model"
What steps are necessary to import a custom kaldi model (trained from scratch, not transfer-learned as in #33) into KAG?

In the readme it is currently stated that:

What steps are necessary to kick off the mentioned partial implementation for automatic conversion?
What steps remain to be carried out by the user?

[2020-10-23 05:22] daanzu commented on #33
@JohnDoe02 Good find! Yes, my source directory has a `frame_subsampling_factor` file containing `3`, and now that makes sense why the other things were happening. Confusing that missing the file causes it to silently assume `1`. Are your accuracy results better after training with this fix? I would think it would help significantly.

[2020-10-23 09:38] yondu22 commented on #33
I commented out the lines and deleted ${chain_opts[@]}, and went with the default

[code]
3, 5 ,5
https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/steps/nnet3/chain/train.py#L98

It seemed to work well for me, let me know your experience and if should change
3, 1, 1 or 1,1,1

[2020-10-23 13:56] JohnDoe02 commented on #33
Against all expectations, my results degraded (a lot!) by using the `frame_subsampling_factor` file. I still believe it is the correct fix, though. And while my results with `3 7 7` were much better, they were still not good enough to produce a worthwhile model. So apparently, there is still something wrong. I am running out of ideas though.

For now, I switched strategy and am training from scrat

[2020-10-23 14:40] daanzu commented on #39
How much work it takes depends on the model's configuration (perhaps unsurprising since Kaldi is so configurable). If you are performing the training with the intent to use it with KaldiAG, it can be made quite easy. It's been awhile since I converted the Zamia model, so I may be forgetting something, but as I recall...

* If you do the training starting with the lexicon/phones from one of my mode

[2020-10-23 15:00] daanzu commented on #33
@JohnDoe02 Surprising! FWIW, I trained my first 100%-personal model with just ~4h of audio, and was astounded at how decent the results were, considering. And building up a corpus isn't too hard during general use with my "action corrected" command.

[2020-10-23 16:28] JohnDoe02 commented on #39
Got it to work! Turns out I only had forgotten to rename `splice_out` to `splice.conf`. Furthermore one also has to add a linebreak in said file as otherwise the parsing will make KAG crash. But that was it.

Just for the record: I used the phone set of your `daanzu_20200905` model for my training, but added a number of words to the lexicon. However, I believe this alone has now impact on integrat

[2020-10-23 16:54] JohnDoe02 commented on #39
So I was too fast. While everything that uses non-dictation commands works like a charm, dictation is broken. I only get garbage, nothing that's in any way related to what I said. Looks indeed as some mixup of word ids.

[2020-10-24 04:34] yondu22 commented on #33
@johndoe I would double check you work, we all got better results
Make sure your new data is low caps to match danzu

[2020-10-24 10:18] JohnDoe02 commented on #33
@daanzu Yes, I am astounded as well. This works out-of-the-box much better than anticipated.

@yondu22 Good point with the lowercase vs. uppercase. Obviously I ran into this problem, too. Fixed that one about 5 weeks ago.

As mentioned above, for now I a simply training from scratch. My first results are nothing short of amazing, and while I am still facing an integration issue regarding dictation

[2020-10-24 10:47] daanzu commented on #39
@JohnDoe02 Ah, I forgot about the dictation FST! You will need to re-compile it using your new `.mdl` file. Try:

[code]

[2020-10-24 14:24] JohnDoe02 commented on #39
Just for reference:
[code]
did the trick.

[2020-10-25 01:10] daanzu commented on #33
@JohnDoe02 I'm skeptical that aligning with a GMM model would help, but if you want to give it a try, I could upload the GMM model that was used in the training of my published model. Experiments are always interesting!

[2020-10-25 11:18] JohnDoe02 commented on #33
@daanzu Sounds great! I will give a shot

[2020-10-26 03:19] yondu22 commented on #33
@JohnDoe02 could you upload your data/train folder data/test and language model and data/local/dict

if these are correct the script should work
For alignment i set my ali_dir=lat_dir
lat_dir=exp/fine_tune_lats
ali_dir=$lat_dir

and make sure its "--generate-ali-from-lats true"
https://gitee.com/mirrors/kaldi/blob/master/egs/rm/s5/local/chain/tuning/run_tdnn_wsj_rm_1c.sh#L147

For tree, i use danz

[2020-11-01 06:20] daanzu commented on #38
Actually, `daanzu_multi_en` is a partial and unfinished training pipeline. I have ended up working with a heavily modified version of the Zamia pipeline. The datasets are:

* Common Voice
* Common Voice single word
* Librispeech
* LJ Speech
* M-AILabs
* Google Speech Commands
* Tatoeba
* TedLIUM3
* Voxforge
* A collection of TTS I generated

[2020-11-12 07:50] daanzu commented on #33
@JohnDoe02 Here's the GMM model. Apologies for the delay!

[tri2b.zip](https://github.com/daanzu/kaldi-active-grammar/files/5528989/tri2b.zip)

[2020-11-13 17:47] patricktouchette opened #40 "Bluetooth Headset: No good block received"
I have the following issue with my bluetooth headset. I am on Windows 10 running caster with kaldi.
If I use separate sources for input (bluetooth microphone from headset) and output (Speakers hooked up to my screen), i get the following error.

[code]
The mic works in audacity or for skype. Caster seems to recognize it,
but then it crashes once the caster/kaldi engine is listening.

[2020-11-15 15:31] daanzu commented on #40
Hmm, strange. Not sure why that would happen, but there is an easy way to disable at least the reconnection feature: set the engine parameter `audio_auto_reconnect=False`. You can do this on the dragonfly or caster command line, although I forget how exactly at the moment. Hopefully that gets it working. There is also an easy way to enable debug logging, which should hopefully display some useful

[2020-11-21 06:47] Ashutosh1995 commented on #33
Hi @daanzu , I am trying to finetune Indian English model with my wake word data. I am not able to understand as to where to give the path for my dataset as well as the model downloaded from the VOSK webiste.

Would really be helpful if you could clarify the path issue from the script you provided?

[2020-11-25 05:30] daanzu commented on #33
@Ashutosh1995 I just pushed an updated version that is a bit more explicit about the inputs. However, the model you are using very well may not include everything necessary, especially to make fine tuning easy.

https://gist.github.com/daanzu/d29e18abb9e21ccf1cddc8c3e28054ff

[2020-11-25 07:36] Ashutosh1995 commented on #33
@daanzu thanks for providing the updated script. I got your point since the model I mentioned doesn't have all the required files in it. I would be grateful if you could further clarify these doubts:
1) What is the src dir in the script ? What should it hold ? What is the export/tdnn_f.1ep file ?
2) All the other folders like tree_dir, lang_dir etc where should all these be created ?

[2020-11-25 13:57] Ashutosh1995 commented on #33
@daanzu I got the path information. There was one more query I had.

 How much data is required to perform finetuning for a task like wake word detection on the model file you have provided ?

[2020-11-25 14:34] daanzu commented on #33
@Ashutosh1995 Any amount of training data should be helpful, but of course, the more the better. I haven't yet tested as thoroughly and rigorously as I would like. https://github.com/daanzu/kaldi-active-grammar/blob/master/docs/models.md

[2020-12-03 12:44] ileben opened #41 "PortAudioError from sounddevice"
I'm getting the error below on startup when running Caster with Kaldi backend. I've tried kaldi-active-grammar versions 1.8.0 and 1.8.1, as well as both the latest medium and big models (kaldi_model_daanzu_20200905_1ep-mediumlm, kaldi_model_daanzu_20200905_1ep-biglm). I'm on an enterprise Dell workstation with builtin Realtek audio. I've tried a cheap USB headset as well as the Scarlett 2i2 audio

[2020-12-03 12:44] LexiconCode commented on #36
Just modify the bat file for now `python -m dragonfly load-directory . --engine kaldi --engine-options "model_dir=kaldi_model, vad_padding_end_ms=300"`

List of kaldi [list of parameters](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html#engine-configuration) for engine configuration.

[2020-12-03 12:45] LexiconCode commented on #40
Just modify the bat file for now `python -m dragonfly load-directory . --engine kaldi --engine-options "model_dir=kaldi_model, vad_padding_end_ms=300, audio_auto_reconnect=False"`

List of kaldi [list of parameters](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html#engine-configuration) for engine configuration.

[2020-12-03 13:12] LexiconCode commented on #41
Reposting some advice from chat you might try `audio_self_threaded=False`

you can modify the bat python -m dragonfly load-directory . --engine kaldi --engine-options "model_dir=kaldi_model, vad_padding_end_ms=300, audio_self_threaded=False"

List of kaldi [engine parameters](https://dragonfly2.readthedocs.io/en/latest/kaldi_engine.html#engine-configuration) for configuration.

[2020-12-04 02:56] ileben opened #42 "audio_self_threaded cannot be set from command line"
Using the command line below, Kaldi reports audio_self_threaded=True on startup.
[code]
kaldi-active-grammar 1.8.1
dragonfly2[kaldi] 0.28.1

[2020-12-04 03:18] LexiconCode commented on #42
I can replicate this as well. It seems like any engine parameter that accepts a bool value does not work as expected however anything that accepts an integer does. --engine-options "vad_padding_end_ms=666" versus "audio_self_threaded=False"

[code]

[code]

[2020-12-04 03:49] ileben commented on #41
`audio_self_threaded=False` did not resolve the issue.

[2020-12-04 04:54] ileben commented on #41
I have tried Python 3.8 with the latest version of sounddevice, still getting the same crash.

[2020-12-04 04:59] daanzu commented on #42
Oops. That should be an easy fix. I will look at it.

[2020-12-04 05:04] ileben commented on #41
Here is my solution - I've also posted this in https://github.com/spatialaudio/python-sounddevice/issues/233
![image](https://user-images.githubusercontent.com/370626/101124060-56ff8c00-364a-11eb-978c-b589ead1c5eb.png)

[2020-12-04 05:14] ileben commented on #41
It seems that somewhere along the stack at least one of the libraries involved should ask for (or if not possible at least check for) microphone permissions and provide the user with a better error message and guidance for what to do.

System info:
OS Name	Microsoft Windows 10 Enterprise
Version	10.0.18363 Build 18363

[2020-12-04 05:27] daanzu commented on #41
@ileben Thanks for figuring this out and posting the solution! I will at least add a warning suggesting to check this upon error.

[2020-12-04 10:07] Ashutosh1995 commented on #33
Hi @daanzu , splice_opts is not present in https://github.com/daanzu/kaldi-active-grammar/releases/download/v1.4.0/kaldi_model_daanzu_20200328_1ep-mediumlm.zip

Could you please provide that ?

[2020-12-05 06:34] daanzu commented on #33
@Ashutosh1995 `cp $model/conf/splice.conf extractor/splice_opts`

[2020-12-07 11:33] Ashutosh1995 commented on #33
Thanks @daanzu.

I am getting another error now.

While entering Stage 4 using the script, I am getting the following error:

# Stage 4
# Mon Dec  7 11:13:19 UTC 2020

steps/nnet3/align_lats.sh --cmd run.pl --mem 2G --nj 10 --acoustic-scale 1.0 --scale-opts --transition-scale=1.0 --self-loop-scale=1.0 --online-ivector-dir exp/nnet3_chain/ivectors_finetune_hires data/finetune_hires data/lang exp/nn

[2020-12-08 15:59] Ashutosh1995 commented on #33
Hi @daanzu, I reached Stage 9 but there I get an exception saying that

Exception: Expected exp/nnet3_chain/tree_sp/ali.1.gz to exist.

I couldn't find .gz file in the source model folder. Could you please help in this regard!

I am a bit novice to kaldi hence figuring out things.

[2020-12-16 06:25] daanzu commented on #33
@Ashutosh1995 See https://github.com/daanzu/kaldi-active-grammar/issues/33#issuecomment-706721159 above, and use that file.

[2020-12-22 19:34] termx88 opened #43 "Error on Linux: Did not reach requested beam in determinize-lattice"
I'm running Kaldi through Caster on Linux (Kubuntu).
After the start of listening no com
mands are activated. After very roughly ~20 commands. I get the error below. After which everything seems to be working as expected.
It happens every time on Linux with both the small and big models (20200905_1ep ones)
On Windows 10 (on the same laptop) it works as expected.

INFO:engine:Listening...
[KALDI se

[2020-12-23 15:58] daanzu commented on #43
Thanks for the report! I may need to adjust the default decoding parameters to avoid this error. Curious that it happens for you on Linux but not on Windows. I wonder if there could be a difference between them in the audio volume/noise that affects it. Regardless, you can adjust this parameter by setting the engine parameter `decoder_init_config={'lattice_beam':6}`, but there currently isn't an e

[2020-12-25 14:43] termx88 commented on #43
I tried setting the 'lattice beam' parameter to 6 and it successfully changed. As it now threw:

[KALDI severity=-1] Did not reach requested beam in determinize-lattice: size exceeds maximum 50000000 bytes; (repo,arcs,elems) = (33837632,921856,15265440), after rebuilding, repo size was 27490176, effective beam was 5.33964 vs. requested beam 6

I should have put more emphasis that the problem is th

[2021-01-01 19:40] LexiconCode opened #44 "Version lock NumPy to `1.19.3`"
There is an ongoing [issue](https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html) with NumPy 1.19.4  specific to Windows 10, version 20H2 and Windows Server, version 20H2 with AMD processors.

Downgrading `pip install numpy==1.19.3` fixes the issue.

[code]

[2021-01-02 04:38] daanzu commented on #44
Gah, thanks for notifying me of this! I ran into this problem a while back (even though I run Intel) unrelated to KaldiAG, but didn't realize its implications here. (I also am amazed they haven't fixed it yet.) I will push a temporary fix.

[2021-01-02 15:38] daanzu commented on #44
I uploaded a new wheel just for windows: v1.8.3. Please let me know if it works or not.

[2021-01-02 16:06] LexiconCode commented on #44
I was impressed that it's not fixed given the popularity of Numpy. The kaldi active grammar package installs as expected now.

[2021-01-02 16:07] #44 closed

[2021-01-03 01:56] daanzu commented on #42
This is fixed in the latest version of dragonfly2.

[2021-01-03 01:56] #42 closed

[2021-01-17 23:56] jose-alvessh commented on #33
Hi @daanzu,

I have followed the steps of the file that you have here in this [comment]( https://github.com/daanzu/kaldi-active-grammar/issues/33#issuecomment-733475501). Then when I replaced only the final.md file obtained after finetune on your model **vosk-model-en-us-daanzu-20200905-lgraph** I did not get any results when I use it to test my validation set using the Android demo of vosk-api (c

[2021-02-03 09:58] delebash opened #45 "Where do I download kaldi-caster-winpython-dev?"
I do not see that package in your releases only kaldi-dragonfly-winpython37.zip

Thanks.

[2021-02-03 13:16] LexiconCode commented on #45
Here's a copy [OneDrive](https://1drv.ms/u/s!Ag4M-olMXhzjajgTtquTgDh_fy4?e=eA1r8u) with Python 3.8.6 and the latest caster from github.

[2021-02-03 14:58] delebash commented on #45
Thanks!

[2021-02-03 15:54] daanzu commented on #45
Ah, sorry about that. Thanks, @LexiconCode! I still need to integrate building those packages in my Continuous Integration. Reopening this as a reminder to myself.

[2021-02-08 06:01] zuheo23 opened #46 "full_example.py failed with no attribute 'init_decoder'"
I have the following problem running the full_example.py

setup:
- windows 10
- pip install dragonfly2[kaldi]
- pip install kaldi-active-grammar
-

`python full_example.py

Kaldi-Active-Grammar v1.8.3:
    If this free, open source engine is valuable to you, please consider donating
    https://github.com/daanzu/kaldi-active-grammar
    Disable message by calling `kaldi_active_grammar.disable_dona

[2021-02-09 16:02] daanzu commented on #46
Ah, sorry, that is because of some changes as I prepare to release v2.0 (Real Soon Now). Try checking out the repo's v1.8.3 tag and it should work I think. Let me know if not!

[2021-02-09 16:22] daanzu commented on #46
https://github.com/daanzu/kaldi-active-grammar/blob/b39d21035f3baff574ba36daf73e48e227cbaedc/examples/full_example.py

[2021-02-10 00:46] zuheo23 commented on #46
The script runs with v1.8.3. Thanks.

[2021-02-10 00:46] #46 closed

[2021-02-26 06:37] p-e-w opened #47 "The Intel MKL is not Free Software"
Hey there, I was really excited to finally see a high-quality Kaldi distribution that can be `pip install`ed. Unfortunately, the Intel Math Kernel Library required to build KaldiAG is **not Free Software:**

* Its license, the "Intel Simplified Software License", [is not OSI approved](https://opensource.org/licenses/alphabetical)
* The Apache Software Foundation has [outright rejected](https://iss

[2021-02-28 15:30] daanzu commented on #47
You raise a good point. I'm certainly no license expert. Unfortunately, MKL has a significant performance benefit, last I checked. However, I should at least have builds and wheels available using OpenBLAS (which is easier than with MKL anyway). I'll try to do so soon.

[2021-03-01 06:04] p-e-w commented on #47
The MKL has a significant performance benefit *on Intel CPUs.* On AMD processors, its performance is terrible, and far worse than OpenBLAS. This has been a known issue for years and is apparently intentional. When a workaround was discovered to force MKL to use fast code paths on AMD as well, [Intel promptly updated the MKL to disable that workaround](https://simon-martin.net/2020/03/01/boosting-i

[2021-03-02 15:38] daanzu commented on #47
Thanks for bringing the issue of performance on AMD to my attention! Devious, but I suppose not that surprising for Intel. That certainly is reason enough for at least making OpenBLAS the default. I should hopefully be able to make the change for the impending 2.0 release.

[2021-03-02 21:32] shervinemami commented on #47
Nice, I like that idea of using open-source as the default, then giving the
option of using a closed source tool as the alternative. Sounds perfect :-)

On Wed, Mar 3, 2021 at 2:38 AM David Zurow <notifications@github.com> wrote:

[2021-03-08 10:21] widdiot commented on #39
Could you please provide the general steps to adapt kaldi models (trained for language other than english) ?

[2021-03-10 05:04] p-e-w commented on #47
Sounds great indeed!

Somewhat related, could you please clarify the license for the models? The README states that "this project" is licensed under the AGPL, but the model files are only provided as release artifacts, so it is not obvious that they are covered by the same license. Also, the AGPL is a rather ill-fitting license for data files, since most of its terms deal with "source code" and it

[2021-03-16 01:06] daanzu commented on #47
@p-e-w Regarding the licensing of the models, they are currently packaged with a license file for the AGPL. I agree that the license doesn't really fit using it with speech models, but I am using it in an attempt to convey the "spirit" of my intent. The licensing situation for speech models seems to be somewhat new and not fully developed, and I'm not sure that any of the major open licenses fit v

[2021-03-22 05:35] p-e-w commented on #47
@daanzu The new release looks great! This issue can probably be closed, unless you want to keep it open to track Windows support for OpenBLAS. I assume OpenBLAS is now also used in the (Linux/macOS) wheels?

I must say I'm very impressed with how well KaldiAG works overall. I've been experimenting with ASR software for years, and KaldiAG is the first Open Source option that provides recognition ac

[2021-03-23 14:52] daanzu commented on #47
@p-e-w Yep, no MKL anymore in the Linux/Mac wheels. But I will keep this open for the change on Windows, which I didn't want to delay the release.

I am glad it is working so well for you! Yes, Kaldi does a great job of providing good accuracy combined with the ability to adjust the various parts like lexicon/LM/grammars to fit your domain, which can really boost the accuracy. And thankfully someo

[2021-03-24 07:22] p-e-w opened #50 "KaldiAG 2.0.0 crashes with "Illegal instruction" on Linux"
1. Create a Linux VM using QEMU on a Linux host (I use Fedora 33 as both guest and host, and GNOME Boxes to create the VM)
2. Install KaldiAG 2.0.0 with the "big" language model
3. Run `full_example.py` from the `examples` directory

KaldiAG crashes with

[code]

**This does not happen with KaldiAG 1.8.0 on the same VM.**

Running the example under `gdb`, I get

[code]

I don't have debug symbols,

[2021-03-24 13:52] daanzu commented on #50
Hmm, I will look into it. What does your /proc/cpuinfo flags field read?

[2021-03-25 05:16] p-e-w commented on #50
Guest flags:

[code]

Host flags:

[code]

Model:

[code]

Hardware virtualization is enabled.

[2021-03-25 06:20] daanzu commented on #50
Thanks. I forgot to ask: do you know if it works running natively on the host?

[2021-03-26 06:22] p-e-w commented on #50
Whoa, stop the press! The same crash indeed happens on the host as well. So the VM was just a red herring here and the actual problem appears to be on Linux in general, at least with the CPU model that I have.

But NumPy, linked against OpenBLAS, works just fine on the same system. I regularly use a variety of other math/science software as well, and I'm pretty sure most if not all of it also depe

[2021-03-26 08:22] shervinemami commented on #50
It's also possible that some parts of OpenBLAS or Numpy work on your machine and some parts of those libraries cause illegal instructions, because it probably comes down to the compiler having generated an SSE instruction that's either too new or too old for your machine. But it's possible that for example,  value * 2 works in Numpy but value / 2 causes an illegal instruction. (That was a totally

[2021-03-27 01:04] daanzu commented on #50
Hmm, interesting. I made sure to test some on an old CPU without AVX, which worked fine, so this is curious. I will investigate.

[2021-03-27 03:33] p-e-w commented on #50
I just ran the NumPy and SciPy test suites with

[code]

More than 42,000 tests executed in total, and none of them triggered an illegal instruction. The OpenBLAS API surface isn't that large and it's extremely difficult to imagine that KaldiAG calls a function that all of these tests somehow miss. The problem must surely lie with how KaldiAG builds OpenBLAS, or it might be entirely unrelated to O

[2021-03-27 04:00] p-e-w commented on #50
I also confirmed (using `ldd`) that NumPy links against `libopenblasp-r0-5bebc122.3.13.dev.so`. KaldiAG appears to statically link OpenBLAS, so I couldn't find out which version of OpenBLAS is contained in the KaldiAG wheels.

Note also the recently filed OpenBLAS issue ["DGEMM: illegal instruction on old x86 processor built with DYNAMIC_ARCH"](https://github.com/xianyi/OpenBLAS/issues/3139), thou

[2021-03-27 08:50] daanzu commented on #50
@p-e-w Can you try with this version? Uninstall the public release first of course, then rename this file as a `.whl` and install it.

[kaldi_active_grammar-2.0.0-py2.py3-none-linux_x86_64.zip](https://github.com/daanzu/kaldi-active-grammar/files/6215390/kaldi_active_grammar-2.0.0-py2.py3-none-linux_x86_64.zip)

[2021-03-28 05:06] p-e-w commented on #50
Something seems to be missing from the wheel. I get the following error:

[code]

`libkaldi-dragonfly.so` is present in the location indicated by the error message, but I cannot find `libfstscript.so.10` at all.

[2021-03-28 07:15] daanzu commented on #50
Gah, sorry, foolish mistake on my part. Try again with this.

[kaldi_active_grammar-2.0.1-py2.py3-none-manylinux2010_x86_64.whl.zip](https://github.com/daanzu/kaldi-active-grammar/files/6216969/kaldi_active_grammar-2.0.1-py2.py3-none-manylinux2010_x86_64.whl.zip)

[2021-03-29 04:43] p-e-w commented on #50
@daanzu This works, thank you! No more crash, and basic speech recognition confirmed working.

You might want to consider switching from `TARGET=NEHALEM` to `TARGET=GENERIC`, which is what most repositories referenced in the OpenBLAS issue appear to be doing. Nehalem was released only in late 2008 and I don't think KaldiAG should crash without recourse or explanation just because someone has a 13-

[2021-03-29 05:16] p-e-w opened #51 "Model and working directories should be separate"
KaldiAG currently writes to several files in the model directory (such as `file_cache.json`, `align_lexicon.int` etc.), even when a separate temp directory is specified.

I think this breaks standard expectations of the model dir being a data repository, rather than a working directory for KaldiAG. It might also lead to hard-to-debug issues if multiple instances of KaldiAG are using the same model

[2021-03-31 01:25] daanzu commented on #50
@p-e-w Thanks for the tip! Agreed; I had missed that option. The builds are now using that option, and are on PyPI for Linux/Mac.

[2021-04-03 05:10] p-e-w commented on #50
@daanzu I tried again with the new release 2.0.2 from PyPI and everything still works as expected.

I also attempted to do some crude benchmarking using real-world conditions (`full_example.py` with microphone input; both idle and while speaking). Since input data varies so much, it's difficult to get reproducible results with such a setup. Nevertheless, these are the numbers I measured (CPU usage

[2021-04-06 01:04] daanzu commented on #50
@p-e-w Thanks for the testing info. That agrees with my limited testing as well, where the run-to-run variation was greater than the average difference between OpenBLAS and MKL. It's great to have such a performant open math library available now. Hopefully I can get it compiling and integrated well on Windows also.

[2021-04-06 01:05] #50 closed

[2021-04-10 14:48] daanzu commented on #51
Yes, the current implementation is not something I am happy with. There are three categories of files: completely static for a given model, only necessary to rebuild when the lexicon is changed, and grammar-specific. On the one hand, I don't want to make things too complicated, with extra directories. On the other hand, as you said, it can be problematic to mix the various categories of files. I'm

[2021-04-15 15:45] Wil31 commented on #24
@varungujjar Hello, I'm curious about how further you got regarding compiling for the RPi 4 in 64 bit ? I'm not having great success. You can find a thread in the discussions.

[2021-04-17 20:06] SwimmingTiger commented on #39
I want to convert any of the following Chinese Mandarin models to compatible with KAG. Thanks for any help or documentation.

* http://kaldi-asr.org/models/m2
* http://kaldi-asr.org/models/m10
* http://kaldi-asr.org/models/m11

I have no experience with Kaldi. Currently the only environment I can run is from `kaldi-dragonfly-winpython37.zip`. After getting the available models, I will develop my a

[2021-04-18 16:43] SwimmingTiger commented on #21
I want to convert any of the following Chinese Mandarin models to compatible with KAG. Thanks for any help or documentation.

* http://kaldi-asr.org/models/m2
* http://kaldi-asr.org/models/m10
* http://kaldi-asr.org/models/m11

I have no experience with Kaldi. Currently the only one environment I can run is from `kaldi-dragonfly-winpython37.zip`. After getting the available models, I will develop

[2021-04-19 04:40] daanzu commented on #21
@SwimmingTiger It looks like the M11 model should be easiest, because it doesn't use pitch features, which I haven't implemented in this project. I will try to find time to try converting it to work with this, which should also give me a good opportunity to document the process clearly. However, basically the process is mostly just trying to get the various model files to be in the right place, as

[2021-04-19 04:41] daanzu commented on #39
Similar discussion in #21.

[2021-04-21 18:24] SwimmingTiger commented on #21
So it only need to move the location of some files without converting the data content?

[2021-04-24 01:18] daanzu commented on #21
@SwimmingTiger Correct, I think that may work, depending on exactly what files are included in your model package and what their structure is. However, it has been a while since I converted a fresh external model, and I haven't tried another language yet, so I am not sure. Please give it a try, and let me know how it goes.

[2021-04-27 15:27] Wil31 opened #52 "kaldi_active_grammar v2.1.0 incompatible with dragonfly2 ?"
I have installed successfully the new versions of kaldi-active-grammar and dragonfly2 with 'pip install dragonfly2==0.30.1' and 'pip install kaldi-active-grammar==2.1.0'.
But any demo or script I try to run returns this message:
[code]

I am on Windows 10 and everything worked well with kaldi-active-grammar v1.8.1, I wanted to try the new version with the fixes and changes.

[2021-04-28 19:34] evfredericksen opened #53 "Issue updating lexicon in frozen app"
I'm running into
[this error](https://github.com/daanzu/kaldi-active-grammar/files/6394306/trace.txt)
 updating the lexicon in an application bundled with cx_Freeze on Windows 10. I tried manually adding all of the kaldi_active_grammar/kaldi/*.py files to the dist as cx_Freeze wasn't picking up modules invoked by utils.ExternalProcess but am still getting the same exception.

[2021-04-28 23:35] evfredericksen opened #54 "Whitespace in model path"
I'm running into the following error when I try to use a model that contains a whitespace in its path:

[code]

However, when I comment out the line `self.files_dict.update({ k: '"%s"' % v for (k, v) in self.files_dict.items() if v and ' ' in v })` in the Model constructor, everything works as expected.

[2021-04-29 02:45] daanzu commented on #52
Ah, yes, I should probably make that clearer in the release notes. It requires changes in the dragonfly side backend, which have now been merged into the master branch of dragonfly, but aren't in its latest published package. It should hopefully be released soon. In the meantime, you could install with: `pip install https://github.com/dictation-toolbox/dragonfly/archive/master.zip`

[2021-04-29 06:24] daanzu commented on #53
I think this may be related to #54.

[2021-04-29 06:28] daanzu commented on #54
Good find! However, I think this may now be moot in the latest versions, which don't need to use the command line utilities. Can you give it a try?

Relatedly, I am working on improving freezing. I haven't tried cx_freeze, but I have had success with using winpython.

[2021-05-01 10:28] qweasdzxcvde opened #55 "How can I configure cmvn?"
I have a model trained with cmn and without ivector, I want to konw how to configure cmvn to make the model work.

[2021-05-02 13:22] Asma-droid commented on #33
hello

I need a help please

I would like to finetune vosk model, more particulary "vosk-model-en-us-aspire-0.2". Have I to look for aspire RECIPE for the required inputs?
What fine_tune file should i use ?
Where i can found the necessary dir such as src_ivec_extractor_dir, src_tree_dir?

[2021-05-04 08:05] Asma-droid commented on #33
Hi @daanzu

I need help for fine tune the aspire model("vosk-model-en-us-aspire-0.2"). The model has this following structure
![image](https://user-images.githubusercontent.com/55100050/116974885-13738180-acbf-11eb-9467-122a544357f7.png)
I have taken "https://gist.github.com/daanzu/d29e18abb9e21ccf1cddc8c3e28054ff#file-run_finetune_tdnn_1a_daanzu-sh" as a template but my problem is that how to con

[2021-05-19 16:39] varungujjar commented on #24
hey sorry been busy with my daily tasks..  did manage to runn on RPi 64bit aarch64... been a while since i touched it so will manage to collect the installation steps and post it here..

[2021-05-24 09:32] xizi642 commented on #33
Hi @daanzu ,

I am fine tuning the aspire model, and I also stuck with the stage 9 without the tree_sp for aspire. Can you please upload that for aspire as well? Thank you .

[2021-05-30 15:14] Asma-droid opened #56 "Exception: Command exited with status 1: steps/nnet3/get_egs.sh"
hello,

I am a beginner under Kaldi and I'am trying to finetune danzu model by mini-librispeech data (juste a simple try) to understand the process.

I have firsty prepared data, coputed MFCC and i have then used this script for finetuning https://github.com/kaldi-asr/kaldi/blob/master/egs/aishell2/s5/local/nnet3/tuning/finetune_tdnn_1a.sh

I have used https://github.com/daanzu/kaldi-active-gramma

[2021-06-28 13:50] Wil31 opened #57 "Is there a future for Text to Speech integration in Kaldi engine ? A way around ?"
Hello,
I'm interrrested in having some Text to Speech feedback while using the voice commands.
I assume it isn't planned for integration in this engine yet, so is there a way around we could use ? (I would like to keep using kaldi-active-grammar as engine and no internet connection)

[code]

[2021-06-28 14:08] Wil31 commented on #52
Hello, the latest package of dragonfly2 is now up to date. So there is no issue now.
Thanks,  Cheers.

[2021-06-28 14:08] #52 closed

[2021-06-29 09:09] Xinghui-Wu opened #58 "The feature extraction technique (or the input to the neural network model) used in this implementation?"
The papers with regard to DeepSpeech 1 and 2 from Baidu claimed that they used the spectrogram of power normalized audio clips as the features to the system.
The implementation of Mozilla DeepSpeech, based on TensorFlow, said that they turned to apply the MFCC features.
Now I am curious about that of your implementation for my research purpose on the comparison of various feature extraction algori

[2021-06-30 05:53] daanzu commented on #57
That would be a good feature to add, but I haven't gotten around to it yet. There are many text to speech programs and libraries available nowadays, but the problem can be packaging them to make installation easy. The quality of the speech varies. If you want to get going quickly, I would suggest trying to use espeak, either through a python library or via the CLI binary and subprocess. There has

[2021-07-03 03:21] daanzu commented on #58
This project can support various feature configurations, but the default model uses MFCC. Specifically:

[code]

[2021-07-03 03:21] #58 closed

[2021-07-13 01:43] kendonB commented on #13
Hi @daanzu, just revisiting this. I know there was some progress discussed here: https://github.com/daanzu/kaldi-active-grammar/issues/33

Do you have anything to share that would be noob-friendly?

[2021-07-13 06:33] daanzu commented on #13
@kendonB Thanks for reminding me! I have been slow in making this completely noob-friendly, and therefore afraid of releasing it, but I do have something you could try out. Do you have some audio data with transcripts, and a docker installation? Having CUDA is nice, but not a strict requirement if you don't mind having patience with the CPU.

[2021-07-16 10:04] flytair opened #59 "where is the shell script used for the released models"
hi,
It is an amazing project, thank you for your excellent work!
I want a reference script for training my kaldi model, but i do not find the script you used to train the released models.

[2021-07-19 01:18] daanzu commented on #59
Thanks for the encouragement! The current published models were trained using my fork of Zamia, which has diverged significantly from upstream, and which has been too messy with too many changes for me to feel comfortable submitting a pull request for. I will try to at least publish the important parts so you can see them. Feel free to prod me if I don't get around to it soon.

[2021-07-19 15:56] gopik opened #60 "Compile fails with errors related to disambig symbol and nonterm symbols"
Error 1: FATAL: FstCompiler: Symbol "#14" is not mapped to any integer arc ilabel, symbol table = agf_model/phones.txt, source = <fst__compile_text>, line = 4

This is some hardcoded disambiguation symbol but my model output has max #10 as disambig symbol.

Error 2:   File "/Users/gopik/opt/anaconda3/envs/kaldi/lib/python3.9/site-packages/kaldi_active_grammar/compiler.py", line 505, in compile_top

[2021-07-19 17:12] gopik commented on #60
Once I prepare_lang.sh with nonterm:end as additional nonterminal, I got past the 2nd issue. But now the dictation.fst generation is crashing as follows (Note: The model was trained without nonterminals, if that's causing this. I'm taking an existing model and trying to convert to use active grammar framework)

VLOG[1] (compile-graph-agf[5.5.0~1-1f5a4]:main():compile-graph-agf.cc:237) Composing CL

[2021-07-20 04:52] daanzu commented on #60
Ah, yes, the max disambiguation symbol is not currently adjustable by the library user, but there are only a few places in the code where this needs to be changed.
@gopik Regarding the compilation error, do you know what the architecture of your model is? Unfortunately, we can only handle left-biphone context models currently. This includes the popular tdnn_f "chain" models.

[2021-07-20 05:00] gopik commented on #60
I've used wsj/s5/local/chain/e2e/run_tdnn_flatstart.sh recipe to train the model. But when the model was trained, non terms were not there in lang. I was trying to reuse that model with AGF.

[2021-07-20 14:52] daanzu commented on #60
I am not familiar with the e2e kaldi training, but I think a chain model should work. You definitely don't need to train with the nonterms. Training with the same normal lexicon as I use does make things easier, but should not be necessary.

If the #14 disambiguation symbol issue disappeared, it makes me suspect something got mixed up, but that doesn't explain that particular error appearing.

[2021-07-20 15:21] gopik commented on #60
Yes, it looks like it disappeared since it's not attempting to create those lex disambig fsts now (I created them using prepare_lang).

I realized that the crash message is red herring. The actual issue is decoder initialization failed due to some other missing config options. I realized that e2e training doesn't need ivector training/adaptation but AGF needs ivector configs. So I just copied conf

[2021-07-21 03:52] gopik commented on #60
Looks like it's failing to compile G.fst to dictation fst, hence top_fst/top_fst_filename not available.

[2021-07-21 05:40] daanzu commented on #60
Ah, yes, I forgot. You need to run `python -m kaldi_active_grammar compile_agf_dictation_graph -v -m {{model_dir}} {{model_dir}}/G.fst` to generate the `Dictation.fst`. The `G.fst` can be from one of my models, or use any suitable language model.

[2021-07-22 08:14] gopik commented on #60
Thanks @daanzu. The e2e recipe doesn't use biphones by default. That's the reason grammar fst related code was complaining.
Ref: https://github.com/kaldi-asr/kaldi/blob/cafb8b315ae588cad0210655be539c6742e2e829/egs/wsj/s5/steps/nnet3/chain/e2e/prepare_e2e.sh#L19

Sorry didn't realize this earlier.

[2021-07-22 08:14] #60 closed

[2021-07-27 22:04] kendonB commented on #13
I can make some training data - do you have some suggested transcripts to read? Docker + CUDA are both easy to get going. Would it be easiest to set up a private repo that we can iterate on?

[2021-07-28 01:25] daanzu commented on #13
@kendonB Great! I would say there are two good ways to gather training data: retaining data from your current speech recognition usage, and recording training data directly. Recording directly is certainly most efficient in gathering the best training data, though retaining is a relatively easy way to gather a lot, and there are a few ways to try to weed out any bad data.

Here's an app I threw to

[2021-07-31 05:42] bluecamel commented on #13
Hi, @daanzu.  I'm also super interested in this and happy to help in any way that I can.  I'm pretty new to dictation in general, but strong with python and docker.  I'm not sure what you're using to train, but I have some experience with tensorflow and keras, but not too advanced.  I've recorded a bunch of data with your recorder and have NVIDIA GPUs with CUDA ready to throw at it :)

[2021-08-01 15:01] daanzu commented on #13
@bluecamel Great! I should have scripts to play with uploaded within another day or two. FYI, for all standard Kaldi model training, it uses its own nnet code (rather than Tensorflow/Pytorch/etc), but of course it has full CUDA support. I put together separate docker images for CPU and CUDA: https://hub.docker.com/u/daanzu

[2021-08-03 19:13] evfredericksen commented on #54
Sorry for the late response. I can reproduce this in 2.1.0 as well, even without freezing:

[code]

Removing the above line in the Model \_\_init\_\_ method still fixes the issue for me.

[2021-08-04 01:25] kendonB commented on #13
@daanzu I have made some recordings and have the docker image downloaded. I presume I just need to place the audio data in `audio_data` into the docker image then hit go. How do I do that? I have CUDA

[2021-08-04 03:09] daanzu commented on #13
@kendonB Ah, yes, there are still some top-level scripts I need to add to the image, and instructions. Hopefully tonight!

[2021-08-04 04:11] daanzu commented on #54
@evfredericksen Hmm, strange. Thanks for the report and retest! I will try to figure out what is causing it.

[2021-08-04 17:51] evfredericksen commented on #54
No problem! I don't have the context for why the line was added originally, but I would think that the quotation marks around the path are unnecessary as Python should be able to handle whitespace in paths without any extra logic.

https://stackoverflow.com/questions/14852140/whitespaces-in-the-path-of-windows-filepath

Sample script:

[code]

Result:

[code]

[2021-08-09 04:05] kendonB commented on #13
@daanzu I can't see those added here: https://hub.docker.com/u/daanzu are they somewhere else? Apologies for the noob questions

[2021-08-09 14:36] daanzu commented on #13
@kendonB Sorry, I've been busy, and haven't had a chance to finish adding the necessary scripts yet. Really hope to soon, and will post an update when it's ready.

[2021-08-13 08:54] daanzu commented on #13
Terribly late and entirely untested (as of yet): https://github.com/daanzu/kaldi_ag_training

[2021-08-14 20:38] bluecamel commented on #13
@daanzu Yay!  Can't wait to try it, but the mentioned tag (`2021-08-04`) isn't on docker hub.

[2021-08-14 22:21] bluecamel commented on #13
Ah, sorry, I see that I can just build the image.  I'll try that.  If you don't mind, I'll make a PR with some adjustments to docs as i go along to help other amateurs like me. :)

[2021-08-15 01:25] daanzu commented on #13
@bluecamel Oops, actually I think that is leftover and `2020-11-28` would be fine. I pushed an update. Thanks for any help!

[2021-08-15 01:26] daanzu commented on #13
FYI, I decided to try to treat the docker image as evergreen, and keep the things liable to change a lot like scripts in the git repo instead.

[2021-08-20 14:55] lormaechea opened #61 "How to stitch together several preexisting G.fst with KAG"
Hi David:

First of all, I would like to express my recognition for your excellent work! I take the liberty of contacting you because I would kindly like to ask you a question about your project.

I am currently working on a Speech-to-Text translation system, whose goal is to recognize spoken French and translate it into different languages. Among my tasks, I am in charge of creating and improving

[2021-08-24 19:46] Timoses opened #62 "kaldi_active_grammar.KaldiError: cannot generate word pronunciation"
On fresh Fedora34 install using Dragonfly and Kaldi I get:

[code]

Any idea what could be wrong?

[2021-08-25 06:42] bluecamel commented on #62
I've been hitting this all evening.  The problem is that the CMU lextool seems to be broken and returning errors (but with an okay HTTP status).  I made a [PR that at least shows the error from lextool](https://github.com/daanzu/kaldi-active-grammar/pull/63), but it doesn't fix the real issue.

[2021-08-25 11:40] daanzu commented on #62
Well, that's annoying. As a temporary measure, you should be able to install `g2p_en==2.0.0` to be able to run locally, but it is kind of a pain. I will look for a better solution.

[2021-08-29 14:59] daanzu commented on #61
@lormaechea Thanks! Your project sounds interesting, and I am happy to hear that it works well French. Any instructions that you could write up would likely help others.

Yes, using multiple any G.fst should be possible, although it is not something I directly designed for. It is easy to choose any single G.fst to be used as the single Dictation grammar. But I mostly designed for all of the other

[2021-08-30 09:26] lormaechea commented on #61
Hi again @daanzu! Thanks for your response and for the help provided. I will explain my own procedure for creating custom models in [#39](https://github.com/daanzu/kaldi-active-grammar/issues/39).

I'm trying to add a second G.fst grammar as part of my KaldiAG custom model, but I wonder whether I'm doing the right thing or if there is still more steps to go through.

I first added the NativeWFST c

[2021-08-30 12:32] lormaechea commented on #39
If it can still be of help/interest to anyone, I have been recently working on importing my own French custom models into KAG. After testing them, I have found them to be well-performing and functional, although I would still need to check some configurations to improve the WER%.

To do this, I first performed an acoustic training (HMM-DNN nnet3 chain models) with Kaldi based on 1000h of French sp

[2021-10-17 19:24] SwimmingTiger commented on #21
Today I finally tried to port http://kaldi-asr.org/models/m11 to KAG. Then I immediately encountered some unsolvable problems.

My actions (recorded as some Linux shell commands):

[code]

---

Then I got two None errors here when I run the demo:

https://github.com/daanzu/kaldi-active-grammar/blob/869cd4616bee0b29f6cc7aa5c58e2a838c3103bb/kaldi_active_grammar/model.py#L326-L327

Try to bypass it:

[2021-10-17 19:28] SwimmingTiger commented on #21
I tried to compile https://github.com/kaldi-asr/kaldi, but I couldn't find a suitable tool to generate these files from it.

[code]

[2021-10-30 12:09] #54 closed

[2021-11-01 01:24] daanzu commented on #62
This should be resolved in multiple ways with the pronunciation generation changes in the v3.0.0 release.

[2021-11-01 01:24] #62 closed

[2021-11-01 01:34] daanzu commented on #21
@SwimmingTiger You will definitely need to use the phone set from the new model rather than from the english model. You also need to use the lexicon from the new model. However, both will need to be modified slightly to match what was added to the english model. You should compare how my english model differs from a standard english model.

[2021-12-09 11:51] zhouyong64 commented on #38
How about kaldi_model_daanzu_20211030-biglm? Also trained on these datasets?

[2021-12-12 06:55] daanzu commented on #38
@zhouyong64

Yes, the new model is trained on the same datasets. The major change is that it now includes models necessary for running g2p_en for local pronunciation generation.

[2021-12-20 16:24] romainramassamy opened #65 "ModuleNotFoundError: No module named 'audio'"
Hello, I am trying on my windows 10 pc to install the kaldi-active-grammar by running the full_example.py, but I get this error:

C:\Users\ramasro\Desktop\Perso\kaldi>python test.py
Kaldi-Active-Grammar v3.1.0:
    If this free, open source engine is valuable to you, please consider donating
    https://github.com/daanzu/kaldi-active-grammar
    Disable message by calling `kaldi_active_grammar.dis

[2022-01-24 16:24] m-spisiak opened #67 "models from v3.1.0 release cannot generate pronounciation"
Hi,

I ran into an issue after downloading the new models, date 20211030, they seem to be no longer able to generate pronunciation for unknown words. Error message as follows:
`kaldi_active_grammar.KaldiError: cannot generate word pronunciation: no generators available`

is this on purpose, or am I missing something? Can it be remedied somehow?

Thanks a lot for a reply!

[2022-01-24 16:39] m-spisiak commented on #67
I just found out that it is not caused by the new models, but by something else in my newly checked out repository. I have my own repo with kaldi-active-grammar and dragonfly2[kaldi] as dependecies.
I will dig deeper tomorrow.

[2022-01-25 15:42] m-spisiak commented on #67
I found out that the problem appears with kag v 3.1.0 and dragonfly2 0.34.0
when reverting back to kag 2.1.0 and dragonfly2 0.33.0 the error disappears

any ideas?

[2022-01-25 22:03] LexiconCode commented on #67
Make sure g2p_en is installed `pip install g2p-en==2.0.0`

[2022-03-12 12:57] Danesprite commented on #57
Hello @Wil31 and @daanzu,

Dragonfly's text-to-speech integration will be much improved in the next
version.  On Windows, Dragonfly will default to using the system's builtin
text-to-speech.  On other platforms, it will look for usable eSpeak then
CMU Flite binaries.  They will need to be installed from the system package
manager (or compiled from source).

The above *engine.speak()* method will u

[2022-03-23 12:13] Danesprite commented on #57
The text-to-speech functionality, now somewhat detached from Dragonfly's
speech recognition engines, is documented on the following two pages:

https://dragonfly2.readthedocs.io/en/latest/engines.html
https://dragonfly2.readthedocs.io/en/latest/speakers.html

It works as stated in my previous post.

[2022-04-09 05:26] saireddy12 opened #68 "add new words to kaldi models"
i have downloaded pre-trained librispeech model [link](http://kaldi-asr.org/models/m13)
and want to extend the vocab (add more words that can be recognised by the model)
after reading some docs i found that [_dictation file](https://github.com/daanzu/kaldi-grammar-simple/blob/master/_dictation.py)  is used to add the words ( that are added in the user_lexicon.txt ) to grammar and fst . for adding

[2022-04-25 12:26] droundy opened #69 "unable to install on Mac OS 12.3.1"
I am unable to install kaldi-active-grammar on macOS Monterey version 12.3.1.

My Python is 3.8.9, and `pip install kaldi-active-grammar` fails with an error message "No matching distribution found for kaldi-active-grammar".

When I download the release wheel for macOS, I am told that it is not a supported wheel on this platform.

Any suggestions? Or do you just need to build another wheel? I noti

[2022-04-26 17:05] droundy commented on #69
Looks like the issue may be that I have an m1 Mac with an arm cpu?

[2022-05-09 06:11] p-e-w opened #70 "VAD in example doesn't seem to work"
When running `full_example.py`, the speech recognition itself works fine, but the VAD iterator completely fails to detect voice activity, distinguishing only between "sound" and "silence".

My understanding is that `audio_iterator` should yield a block of audio data if the input contains voice, and `None` otherwise. If so, this doesn't work on my system. As long as there is any sound being recorde

[2022-08-01 07:28] AJolly commented on #45
Wondering the same thing - I can't seem to find any of the Windows quick start packages.

Getting started says they are under project releases (https://github.com/daanzu/kaldi-active-grammar#getting-started)
Releases says they are available here https://github.com/daanzu/kaldi-active-grammar/blob/master/docs/models.md

Would love to try this project out!

[2022-08-06 06:14] denvaar commented on #69
I'm also seeing this problem. M1 Mac as well.

[2022-08-08 14:19] denvaar commented on #69
@droundy have you found a way around it? I've been trying to build from source, but running into a lot of issues.

[2022-08-08 21:59] droundy commented on #69
No, I have not.

[2022-08-11 17:22] denvaar commented on #69
@droundy after a lot of tweaking and trial and error I was finally able to build from source and create a wheel that I can use with Dragonfly. I can try to come up with some instructions if you're interested, though it may be pretty hacky.

[2022-09-20 12:48] bogdan0083 commented on #69
@denvaar Hi there! I would be happy if you could provide some kind of instruction for building this project on Macbook M1.

I've been trying to build the project wheel for a few days to no avail, your instructions would help a lot.

Thank you! ❤️

[2022-10-15 08:40] Timoses commented on #62
Oddly, I get the same error again after a fresh install (with 3.1.0 installed):
[code]

[2022-10-17 21:36] LexiconCode commented on #62
Try to install `pip install g2p-en`

[2022-10-18 20:04] Timoses commented on #62
Did and it works.

[2022-10-22 12:22] fastandcuriousX opened #74 "Speech2Text, Cant seem to make it work."
Hello everyone, recently I've been playing around with kaldi.

And I'm trying to output text from an audio file, I'm using this for my test.

I've downloaded https://github.com/daanzu/kaldi-active-grammar/releases/tag/v1.8.0 kaldi-dragonfly-winpython37.zip
Audio https://github.com/daanzu/kaldi-active-grammar/blob/master/examples/test.wav
Script https://github.com/daanzu/kaldi-active-grammar/blob/m

[2022-10-23 03:05] fastandcuriousX commented on #74
I was tinkering with it and not sure what I did, but everything seems to works fine now.
Thank you :)

[2022-10-23 03:05] #74 closed